@import "../styles/settings.scss";

.not-found {
  min-height: calc(100vh - 58px);
  padding-top: 100px;
  background-color: $color-background-section;
  text-align: center;
}

@media (max-width: 790px) {
  .not-found {
    padding-top: 204px;
  }
}

@media (max-width: 560px) {
  .not-found {
    padding-top: 520px;
    height: 150vh;
  }
}
