@import "../../assets/styles/settings.scss";
@import "../../assets/styles/breakpoints.scss";

.standings {
  @include table;
  margin: 0 auto;
  &__season {
    text-align: center;
    margin: 4px auto;
  }
  &__td {
    border: 1px solid $color-white;
    padding: 5px 8px;
    &--bold {
      font-weight: bold;
    }
    &--img {
      width: 50px;
    }
    &--team-name {
      width: 177px;
    }
    &--green {
      background-color: $color-standings-green;
      color: $color-white;
    }
    &--limegreen {
      background-color: $color-standings-limegreen;
      color: $color-white;
    }
    &--lightgreen {
      background-color: $color-standings-lightgreen;
      color: $color-white;
    }
    &--orange {
      background-color: $color-standings-orange;
      color: $color-white;
    }
    &--tomato {
      background-color: $color-standings-tomato;
      color: $color-white;
    }
    &--red {
      background-color: $color-standings-red;
      color: $color-white;
    }
  }
  &__th {
    @include th;
  }
  &__tr {
    border: 1px solid $color-white;
  }
  &__club-img {
    height: 17px;
  }
  &__key {
    padding: 15px 8px 6px 8px;
    border-top: 2px solid $color-tertiary;
    font-weight: bold;
    text-align: left;
  }
  &__key-item {
    border: 1px solid $color-white;
    padding: 5px 8px;
    text-align: left;
  }
}

@media (max-width: $screen-lg) {
  .standings {
    &__td {
      padding: 5px 4px;
    }
  }
}

@media (max-width: $screen-sm) {
  .standings {
    overflow-x: auto;
    display: block;
  }
}
