@import "../../assets/styles/settings.scss";
@import "../../assets/styles/breakpoints.scss";

.highlights {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  &__match-container {
    width: 70%;
  }
  &__matches-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 20px;
    color: $color-white;
  }
  &__header {
    text-align: center;
  }
  &__flag-container {
    height: 134px;
  }
  &__image {
    width: 200px;
    height: auto;
  }
  &__fieldset {
    margin-top: 20px;
    border: 1px solid $color-gray;
    border-left: none;
    border-bottom: none;
    border-right: none;
  }
  &__date {
    margin-left: 5%;
    color: $color-gray;
    white-space: nowrap;
  }
}

@media (max-width: $screen-md) {
  .highlights {
    &__match-container {
      width: 90%;
    }
  }
}

@media (max-width: $screen-sm) {
  .highlights {
    font-size: 6vw;
    &__image {
      width: 65%;
    }
    &__fieldset {
      font-size: 12px;
    }
  }
}
