@import "../styles/settings.scss";

.scorers {
  @include table;
  margin: 30px auto;
  //   overflow-x: auto;
  //   display: block;

  &__td {
    border: 1px solid $color-font-main;
    padding: 5px 8px;

    &--bold {
      font-weight: bold;
    }

    &--img {
      width: 50px;
    }
    &--player-name {
      width: 160px;
    }
  }

  &__th {
    @include th;
  }

  &__club-img {
    height: 17px;
  }
}
