@import "../styles/settings.scss";
@import "../styles/breakpoints.scss";

.scorers {
  @include table;
  margin: 30px auto;
  &__td {
    border: 1px solid $color-font-main;
    padding: 5px 8px;
    &--bold {
      font-weight: bold;
    }
    &--img {
      width: 50px;
    }
    &--player-name {
      width: 160px;
    }
  }
  &__th {
    @include th;
  }
  &__club-img {
    height: 17px;
  }
}

@media (max-width: $screen-sm) {
  .scorers {
    width: 100%;
    overflow-x: auto;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
  }
}
