$color-font-main: white;

$color-details: tan;

$color-background-navigation: #0a3d62;
$color-background-navigation-hover: #1a4d72;
$color-background-features: #34495e;
$color-background-section: #d1d5da;
$color-background-footer: #2f3640;

$color-standings-green: green;
$color-standings-limegreen: limegreen;
$color-standings-lightgreen: lightgreen;
$color-standings-orange: orange;
$color-standings-tomato: tomato;
$color-standings-red: red;

$transition-navigation: 0.2s ease-in-out;
$transition-match: 0.5s linear;
