@import "../styles/settings.scss";

.home {
  min-height: calc(100vh - 58px);
  padding-top: 100px;
  background-color: $color-background-section;
}

@media (max-width: 790px) {
  .home {
    padding-top: 204px;
  }
}

@media (max-width: 560px) {
  .home {
    padding-top: 520px;
    height: 150vh;
  }
}
