@import "../styles/settings.scss";

.highlights {
  flex-grow: 1;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  &__match-container {
    width: 70%;
  }
  &__matches-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 20px;
    color: $color-font-main;
  }

  &__header {
    text-align: center;
  }

  &__flag-container {
    height: 134px;
  }

  &__image {
    width: 200px;
    height: auto;
  }

  &__fieldset {
    margin-top: 20px;
    border: 1px solid $color-font-fieldset;
    border-left: none;
    border-bottom: none;
    border-right: none;
  }

  &__date {
    margin-left: 5%;
    color: $color-font-fieldset;
    white-space: nowrap;
  }
}

@media (max-width: 785px) {
  .highlights {
    margin-top: 40px;
  }
}

@media (max-width: 560px) {
  .highlights {
    margin-top: 520px;
    &__match-container {
      width: 90%;
    }
  }
}
