@import "../styles/settings.scss";
@import "../styles/breakpoints.scss";

.league {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 58px);
  padding-top: 110px;
  &__main {
    flex-grow: 1;
  }
  &__aside {
    flex-basis: 36%;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: $screen-xl) {
  .league {
    flex-direction: column;
  }
}

@media (max-width: $screen-lg) {
  .league {
    padding-top: 220px;
  }
}

@media (max-width: $screen-md) {
  .league {
    padding-top: 520px;
  }
}
