@import "../styles/settings.scss";

.league {
  display: flex;
  justify-content: center;
  background-color: $color-background-section;
  min-height: calc(100vh - 58px);
  &__main {
    flex-grow: 1;
  }

  &__aside {
    flex-basis: 36%;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 964px) {
  .league {
    flex-direction: column;
  }
}
