@import "../styles/breakpoints.scss";

.error {
  padding-top: 100px;
  text-align: center;
}

@media (max-width: $screen-xl) {
  .error {
    padding: 50px 0;
  }
}

// @media (max-width: $screen-md) {
//   .error {
//     padding-top: 520px;
//   }
// }
